
ul li{
  list-style-type:none;
}

.icon {
    cursor: pointer;
  }
  
  .list-view {
    background-color: white;
    position: relative;
  }
  
  .list-view .list-item {
    background-color: #ffffff;
    color: white;
    position: relative;
  }
  
  .list-view .list-item .card {
    height: 10%;
    background-color: white;
    color: rgb(0, 0, 0);
    border:2px solid #000;
  
  }

  .list-view .list-item .card .firstRow {
    display: flex;
    justify-content: space-around;
  }
  
  .list-view .list-item .card .firstRow .thumbnail {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    width: 20%;
    text-align: center;
  }
  
  .list-view .list-item .card .firstRow .thumbnail .tumbImg {

    width: 10px;
    height: 10px;
    background:black; 
    border-radius: 50%;
  }

  .list-view .list-item .card .firstRow .thumbnail .tumbInfo {
    font-size:10px;
    top: 0%;
    margin: 0%;
    border: 0%;
    
  }

  .list-view .list-item .card .firstRow .cDate {
    font-size:10px;
  }
  
  .list-view .list-item .card .details {
    flex-grow: 2;
    top: 0%;
    margin: 0%;
    border: 0%;
  }
  .list-view .list-item .card .details .name {
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
  }
  
  .list-view .list-item .card .details .money {
    top: 0%;
    margin-top: 10px;
    border: 0%;
    font-size: 30px;
    text-align: center;
  }

@font-face {
  font-family: 'Nanum';
  src: url('../assets/NanumSquareRoundR.ttf');
}
#payment_history{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

#card_body{

  width: 100%;
  border:2px solid #000;
  font-size: 15px;
  font-style: inherit;
  /* text-align: center;   */
}

#first_row{
  display: flex;
  justify-content: space-around;
  
}

#second_row{
  margin-top: 12px;
  display: flex;
  justify-content: space-around;
  
}

#first_left{
  float: left;
  text-align: left;
}

#second_left{
  float: left;
}


#first_right{
  float: right;
  text-align: right;
}

#second_right{
  float: right;
}

.ui-select{
  width:200px;
  height:70px;
}