/*
 * Made by Erik Terwan
 * 24th of November 2015
 * MIT License
 *
 *
 * If you are thinking of using this in
 * production code, beware of the browser
 * prefixes.

 
 */

 

 


 
 
 
 .categoryButton {
   position: fixed;
   right: 5%;
   top: 2%;
   width: 50px;
   height: 50px;
   text-align: center;
   vertical-align: middle;
   font-size: 35px;
   color: #fff;
   background: rgb(74, 128, 228);
   border: none;
   border-radius: 50%;
   z-index: 3;
   /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.275); */
   /* outline: none; */
   /* cursor: pointer; */
   /* transition: all 300ms ease; */
 }
 /* .circle-button .close {
   transition: transform 400ms ease;
 }
 .circle-button:hover {
   box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
 }
 
 .closeRotate {
   transform: rotate(45deg);
 } */
 
 body, h1, h2, h3, h4, h5, h6, p {
   font-family: Work Sans;
 }

 #menu_category {
  position: relative;
  width: 80%;
   
   /* margin: -100px 0 0 -50px; */
   margin: -120px 0 0 0;
   padding: 20%;
   padding-top: 125px;
   
   background: #dddbee;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;
   /* to stop flickering of text in safari */
   
   transform-origin: 0 0;
   transform: translate(0%, -100%);
   
   transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
 }

 #dot-wrap2{
   z-index: 2;
 }